.button-element {
    display: flex;
}
::ng-deep {
    .ant-modal-header {
        background-color: #5d87ff;
        .ng-star-inserted {
            color: white;
        }
    }

    .ant-modal-content {
        // background-color: rgb(40, 99, 187);
    }

    .ant-modal-footer {
        // background-color: rgb(40, 99, 187);
    }
    
}

#star {
    margin-left: -5px;
    vertical-align: bottom;
    opacity: 0.5;
}


.more {
    opacity: 0.5;
}

.btn:hover {
    color: black;
}

.vl {
    margin: 8px;
    width: 2px;
    border-right: 1px solid #aaaaaa;
    height: 25px;
}


#plus {
    opacity: 0.8;
}

a:hover {
    background-color: #ccc;
}

.btn-outlined:active {
    color: #FFF;
    border-color: #fff;
}


img {

    cursor: pointer;
    overflow: visible;
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.container__{
margin-top: 50px;
}
