<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <button mat-icon-button aria-label="Notifications" [matMenuTriggerFor]="notificationMenu" >
    <i-tabler
      class="d-flex"
      name="bell"
      matBadge="{{unsubscription?.length}}"
      matBadgeColor="primary"
    ></i-tabler>
  </button>

  <mat-menu #notificationMenu="matMenu" class="topbar-dd cardWithShadow notification-info" >
    <button mat-menu-item>
      <div class="note" *ngIf="unsubscription?.length > 0">
        <div class="menu-item" *ngFor="let player of unsubscription">
          <img
          src="/assets/images/profile/profile.png"
          class="rounded-circle object-cover profile-img"
          width="35"/>
          <div class="player-data">
            <small>{{player?.playerName}}</small>
          </div>
        </div>
      </div>
      <div class="no-data-found" *ngIf="unsubscription?.length <= 0">
        <small>No Data Found</small>
      </div>
    </button>
    
  </mat-menu>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  
  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
      
      <img
      src="/assets/images/profile/profile.png"
      class="rounded-circle object-cover profile-img"
      width="35"/>
  </button><h5>{{user?.userName}}</h5>
  
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >My Profile My Profile My Profile My Profile
    </button>
    <div class="p-x-12 m-t-12">
      <a
        (click)="logout()"
        mat-stroked-button
        color="primary"
        class="w-100"
        >Logout</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
