<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button aria-label="Notifications" [matMenuTriggerFor]="notificationMenu" >
    <i-tabler
      class="d-flex"
      name="bell"
      matBadge="{{unsubscription?.length}}"
      matBadgeColor="primary"
    ></i-tabler>
  </button>

  <mat-menu #notificationMenu="matMenu" class="topbar-dd cardWithShadow notification-info " >
    <div class="head">
      <span nz-icon nzType="aliwangwang" nzTheme="outline" class="head__note-icon"></span>
    <h3 class="head__note-title" >Unsubscripers</h3>
    <small style="margin: 0 15px;">
      you will find here unsubscriper players</small>
    </div>
      <div class="input-in mb-3 col">
        <label for="search">Search</label>
        <input nz-input placeholder="Search" class="input-zorro" id="search" 
        (click)="$event.stopPropagation();" [(ngModel)]="query" />
      </div>    
    
    <div class="note" *ngIf="unsubscription?.length > 0">
    <button mat-menu-item class="sub-note-info" *ngFor='let player of unsubscription | search:"playerName,code":query' (click)="getPlayer(player)">
      
        <div class="menu-item" >
          <img
          src="/assets/images/profile/profile.png"
          class="rounded-circle object-cover profile-img"
          width="35"/>
          <div class="player-data">
            <small>{{player?.playerName}}</small>
            <div class="aid">
              <span nz-icon nzType="delete" nzTheme="outline" (click)="deletePlayer(player)"
              class="aid__delete-player"></span>
              <span nz-icon nzType="reload" nzTheme="outline" (click)="playerToResubscription(player)"
              class="aid__subscription"></span>
            </div>
          </div>
        </div>
      
      <div class="no-data-found" *ngIf="unsubscription?.length <= 0">
        <small>No Data Found</small>
      </div>
    </button>
  </div>
    
  </mat-menu>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  
  <button style="padding: 0;"
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
      
      <img
      src="/assets/images/profile/profile.png"
      class="rounded-circle object-cover profile-img"
      width="35"/>
  </button><h5>{{user?.userName}}</h5>
  
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >
      <a >{{user?.userName}}</a>
    </button>
    
    <div class="p-x-12 m-t-12">
      <a
        (click)="logout()"
        mat-stroked-button
        color="primary"
        class="w-100"
        >Logout</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
