/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

$input_border_color: #2d3d5f;
$input_border_color_hover: #8f949e;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  input.input-zorro {
    border: 1px solid $input_border_color;
    border-radius: 5px;
  }

  .input-zorro,
  textarea.textarea-zorro {
    border: 1px solid $input_border_color;
    border-radius: 5px;
  }

  input.input-zorro:hover,
  textarea.textarea-zorro:hover {
    border-color: $input_border_color_hover;
  }
  .collect {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .input-in {
    flex: 1 0 250px;
  }
  label {
    font-weight: bolder;
  }

  nz-select {
    width: 200px;
  }

  button.button-save {
    border-radius: 15px;
    margin-top: 10px;
    width: 20%;
  }

  button.button-subscription {
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
  }

  @media screen and (max-width: 1000px) {
    button.button-save {
      width: 100%;
    }
  }

  @media screen and (max-width: 766px) {
    button.button-save {
      width: 20%;
    }
  }

  @media screen and (max-width: 570px) {
    button.button-save {
      width: 100%;
    }
  }
  
  // remove input type number arrows
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}

// pages title
.topic-title {
  font-weight: bolder;
}

svg[data-icon="close"] {
  border: 1px solid #707070;
  border-radius: 50%;
  background-color: #9f9f9f;
  padding: 2px;
  color: white;
}

div.container .display-block-flex-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: .5em 0;
}

div.title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .button-filter {
      display: flex;
      gap: 1em;
  }
}

div.cards {
  &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
      height: 70vh;
      overflow: auto;
  }

  &__info {
      border: 1px solid rgb(219, 219, 219);
      padding: 1em;
      text-align: center;
      border-radius: .4em;
      width: 20em;
      // box-shadow: rgba(79, 79, 126, 0.25) 0px 2px 5px -1px, rgba(68, 68, 68, 0.3) 0px 1px 3px -1px;

      h4 {
          font-weight: bolder;
          font-size: 1em;
          color: rgb(23, 76, 223);
      }
  }

  &__info:hover {
      cursor: pointer;
      box-shadow: rgba(21, 21, 128, 0.25) 0px 2px 5px -1px, rgba(27, 27, 27, 0.3) 0px 1px 3px -1px;
      h4 {
          color: #5d87ff;
      }
  }
}

input.ng-invalid.ng-touched, nz-select.ng-invalid.ng-touched {
  border-color: crimson;
}
