<div mat-subheader *ngIf="item.navCap" class="nav-caption" style="font-weight: 500;">
  {{ item.navCap }}
</div>
<a 
  mat-list-item
  (click)="onItemSelected(item)"
  [ngClass]="{
    'mat-toolbar mat-primary activeMenu': item.route
      ? router.isActive(item.route, true)
      : false,
  }"
  class="menu-list-item"
  *ngIf="!item.navCap"
>
  <i-tabler style="color: #f35caa;"
    class="routeIcon"
    name="{{ item.iconName }}"
    matListItemIcon
  ></i-tabler>
  <span class="hide-menu" style="font-weight: bolder;">{{ item.displayName }}</span>
</a>
