<div class="row">

  <div class="col-lg-12">
    
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>All Players In The System</mat-card-title>
        <div class="table-responsive m-t-16 collect">
          <div class="input-in mb-3 col">
            <label for="search">Search &nbsp;</label>
            <input nz-input placeholder="Search" class="input-zorro" id="search" (keyup)="applyFilter($event)" />
        </div>
          <table mat-table [dataSource]="playerListInfoForTable" class="w-100">
            <!-- Position Column -->
            <ng-container matColumnDef="player">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
                Player
              </th>
              <td mat-cell *matCellDef="let player">
                <div class="d-flex align-items-center">
                  <img
                    [src]="'../../../assets/images/profile/profile.png'"
                    alt="users"
                    width="40"
                    class="rounded-circle"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                      {{ player?.playerName }}
                    </h6>
                    <span class="mat-body-1 f-s-12">
                      {{ player?.sysSubtype.subtypeName }}
                    </span>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="phone">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
              Phone
              </th>
              <td mat-cell *matCellDef="let player" class="mat-body-1">
                {{ player?.phone }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="exercise">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
              Exercise
              </th>
              <td mat-cell *matCellDef="let player" class="mat-body-1">
                {{ player?.sysExerciseType.exerciseTypeName }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="subscription date">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
              Subscription date
              </th>
              <td mat-cell *matCellDef="let player" class="mat-body-1">
                {{ player?.dateModify | date: 'dd/MM/yyyy HH:mm' }} 
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 20, 50]"
                     showFirstLastButtons >
              </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

